/** CSS Declaration Order
  * Related property declarations should be grouped together following the order:
  * :: Positioning
  * :: Box model
  * :: Typographic
  * :: Visual
  */

/* Positioning */
.element {
  position: ;
  top: ;
  right: ;
  bottom: ;
  left: ;
  order: ;
  z-index: ;
}

/* Box Model */
.element {
  content: ;
  display: ;
  flex: ;
  flex-grow: ;
  flex-shrink: ;
  flex-basis: ;
  flex-direction: ;
  flex-flow: ;
  flex-wrap: ;
  justify-content: ;
  align-items: ;
  align-content: ;
  align-self: ;
  float: ;
  width: ;
  min-width: ;
  max-width: ;
  height: ;
  min-height: ;
  max-height: ;
  padding: ;
  padding-top: ;
  padding-right: ;
  padding-bottom: ;
  padding-left: ;
  margin: ;
  margin-top: ;
  margin-right: ;
  margin-bottom: ;
  margin-left: ;
  columns: ;
  column-width: ;
  column-count: ;
  column-gap: ;
  column-fill: ;
  column-rule: ;
  column-rule-width: ;
  column-rule-style: ;
  column-rule-color: ;
  column-span: ;
  break-before: ;
  break-inside: ;
  break-after: ;
  page-break-before: ;
  page-break-inside: ;
  page-break-after: ;
  orphans: ;
  widows: ;
  overflow: ;
  overflow-x: ;
  overflow-y: ;
  clear: ;
  clip: ;
}


/* Typographic */
.element {
  font: ;
  font-style: ;
  font-variant: ;
  font-weight: ;
  font-size: ;
  font-family: ;
  line-height: ;
  font-size-adjust: ;
  font-stretch: ;
  src: ;
  letter-spacing: ;
  hyphens: ;
  white-space: ;
  word-spacing: ;
  word-wrap: ;
  word-break: ;
  color: ;
  color: ;
  text-align: ;
  text-align-last: ;
  text-decoration: ;
  text-decoration-line: ;
  text-decoration-color: ;
  text-underline-position: ;
  text-emphasis (style | color): ;
  text-emphasis-style: ;
  text-emphasis-color: ;
  text-emphasis-position: ;
  text-indent: ;
  text-justify: ;
  text-outline: ;
  text-overflow: ;
  text-overflow-mode: ;
  text-overflow-ellipsis: ;
  text-shadow: ;
  text-transform: ;
  text-wrap: ;
  tab-size: ;
  quotes: ;
  vertical-align: ;
  list-style: ;
  list-style-type: ;
  list-style-position: ;
  list-style-image: ;
  counter-increment: ;
  counter-reset: ;
  pointer-events: ;
  cursor: ;
}

/* Visual */
.element {
  background: ;
  background-color: ;
  background-image: ;
  background-position: ;
  background-position-x: ;
  background-position-y: ;
  background-size: ;
  background-repeat: ;
  background-origin: ;
  background-clip: ;
  background-attachment: ;
  border: ;
  border-width: ;
  border-style: ;
  border-color: ;
  border-spacing: ;
  border-collapse: ;
  border-top: ;
  border-top-width: ;
  border-top-style: ;
  border-top-color: ;
  border-right: ;
  border-right-width: ;
  border-right-style: ;
  border-right-color: ;
  border-bottom: ;
  border-bottom-width: ;
  border-bottom-style: ;
  border-bottom-color: ;
  border-left: ;
  border-left-width: ;
  border-left-style: ;
  border-left-color: ;
  border-image: ;
  border-image-source: ;
  border-image-slice: ;
  border-image-width: ;
  border-image-outset: ;
  border-image-repeat: ;
  border-top-image: ;
  border-right-image: ;
  border-bottom-image: ;
  border-left-image: ;
  border-corner-image: ;
  border-top-left-image: ;
  border-top-right-image: ;
  border-bottom-right-image: ;
  border-bottom-left-image
  border-radius: ;
  border-top-left-radius: ;
  border-top-right-radius: ;
  border-bottom-right-radius: ;
  border-bottom-left-radius: ;
  box-decoration-break: ;
  box-shadow: ;
  box-sizing: ;
  outline: ;
  outline-color: ;
  outline-style: ;
  outline-width: ;
  outline-offset: ;
  opacity: ;
  filter: ;
  visibility: ;
  size: ;
  zoom: ;
  table-layout: ;
  caption-side: ;
  empty-cells: ;
  transform: ;
  transform-style: ;
  transform-origin: ;
  animation: ;
  animation-name: ;
  animation-duration: ;
  animation-timing-function: ;
  animation-delay: ;
  animation-iteration-count: ;
  animation-direction: ;
  animation-fill-mode: ;
  animation-play-state: ;
  transition: ;
  transition-property: ;
  transition-duration: ;
  transition-timing-function: ;
  transition-delay: ;
  resize: ;
  unicode-bidi: ;
  direction: ;
  nav-index: ;
  nav-up: ;
  nav-right: ;
  nav-down: ;
  nav-left: ;
}
